.background-full{
    background-image:url("https://slp-statics.astockcdn.net/static_assets/staging/23summer/curated-collections/card-5.jpg?width=580&format=webp");
    background-repeat: no-repeat;
    background-size: cover;
}